.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px 50px 50px;

    flex-direction: column;


  }
  
  
  .editProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 2rem;
    background-color: #6B8E23;
    padding: 20px;
    border-radius: 10px;
  }

  .editProduct h1 {
    text-align: center;
    margin: 0 50px 50px 50px;

  }
  
  .editProduct p {
    margin-bottom: 5px;
  }
  
  .editProduct input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #404040;
  }

  
  .columns {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }

  .columns .column {
    width: 100%;
  }
  
  .SaveChanges {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5d65fe;
    padding: 20px;
    border-radius: 10px;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .columns {
      flex-direction: column;
    }
  
    .column {
      margin-bottom: 20px;
    }
  }