.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.25rem;
}

.productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    background-color: #606060;
    border-radius: 0.625rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    margin: 0.625rem;
    max-width: 60%;
}

.article h1 {
    margin: 0.25rem;
}

.productDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1.25rem;
    gap: 1.25rem;
}

.image img {
    border-radius: 0.625rem;
}

.images {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.25rem;
    max-width: 10%;
}

.images img {
    width: 4.375rem;
    object-fit: cover;
    border-radius: 0.325rem;
    margin: 0.625rem 0.625rem 0.625rem 0; 
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.productInfo {
    display: flex;
    flex-direction: column;
    border-radius: 0.625rem;
}

.productInfo p {
    min-width: 36px;
}

.productInfo p {
    min-width: 86px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4.375rem;
    margin: 0 1.25rem 0 1.25rem;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.375rem;
    margin: 1.25rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin: 0.25rem;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
  }

.messages {
    background-color: #6B8E23;

}

.save {

    background-color: #e28c02;
}

.save:hover {
    background-color: #ba7900;
}

.edit {

    background-color: #e28c02;
}

.edit:hover {
    background-color: #ba7900;
}

.buy {

    background-color: #5d65fe;
}

.buy:hover {
    background-color: #4952ff;
}

.delete {
    background-color: red;
    margin: 5px;
}

.delete:hover {
    background-color: #ff0000ce;
}


@media only screen and (min-width: 1305px) and (max-width: 1723px){
    .BigImg {
        min-width: 320px;
    }
}

